@page
@model FrontEnd.Pages.CEscenario.DetailsModel
@{
    ViewData["Title"]="Detalles del escenario";
}
<h2>Detalles del escenario</h2>
<h3 class="text-danger">@ViewData["Error"] </h3>
<hr/>
<div class="row">
    <div class="col-md-4">
        <form method="post" asp-action="Details">
            <div class="form-group">
                <b><label asp-for="escenario.Nombre" class="control-label"></label></b>
                <input asp-for="escenario.Nombre" class="form-control" readonly/>
            </div>
            <br>
            <div class="form-group">
                <b><label asp-for="escenario.Espectadores" class="control-label"></label></b>
                <input asp-for="escenario.Espectadores" class="form-control" readonly/>
            </div>
            <br>
            <div class="form-group">
                <b><label asp-for="escenario.Tipo" class="control-label"></label></b>
                <input asp-for="escenario.Tipo" class="form-control" readonly/>
            </div>
            <br>
            <div class="form-group">
                <b><label asp-for="escenario.UniDepor.Nombre" class="control-label"></label></b>
                <input asp-for="escenario.UniDepor.Nombre" class="form-control" readonly/>
            </div>
            <br>
            <div class="form-group">
                <a asp-page="./Index" class="btn btn-info">Regresar</a>
            </div>
        </form>
    </div>
</div>
