@page
@model FrontEnd.Pages.CColegio.DetailsModel
@{
    ViewData["Title"]="Detalles Colegio Instrucción";
}
<h2> Detalles Colegio Instrucción </h2>
<h3 class="text-danger"> @ViewData["Error"] </h3>

<hr/>

<div class="row">
    <div class="col-md-4">
        <form method="get" asp-action="Details">

            <div class="form-group">
                <b><label asp-for="colegio.Nit" class="control-label"></label></b>
                <input asp-for="colegio.Nit" class="form-control" readonly/>
            </div>
            <br>
            <div class="form-group">
                <b><label asp-for="colegio.RazonSocial" class="control-label"></label></b>
                <input asp-for="colegio.RazonSocial" class="form-control" readonly/>
            </div>
            <br>
            <div class="form-group">
                <b><label asp-for="colegio.Direccion" class="control-label"></label></b>
                <input asp-for="colegio.Direccion" class="form-control" readonly/>
            </div>
            <br>
            <div class="form-group">
                <b><label asp-for="colegio.Telefono" class="control-label"></label></b>
                <input asp-for="colegio.Telefono" class="form-control" readonly/>
            </div>
            <br>
            <div class="form-group">
                <b><label asp-for="colegio.Deporte" class="control-label"></label></b>
                <input asp-for="colegio.Deporte" class="form-control" readonly/>
            </div>
            <br>
            <div class="form-group">
                <b><label asp-for="colegio.Licencia" class="control-label"></label></b>
                <input asp-for="colegio.Licencia" class="form-control" readonly/>
            </div>
            <br>
            <div class="form-group">
                <b><label asp-for="colegio.Arbitros" class="control label"></label></b>
                <select class="form-control">
                    <option>--Egresados--</option>
                    @foreach (var ar in Model.colegio.Arbitros){
                        <option>@ar.Nombres @ar.Apellidos</option>
                        
                    }
                </select>
            </div>
            <br>
            <div class="form-group">
                <a asp-page="./Index" class="btn btn-info">Regresar</a>
            </div>

        </form>
    </div>
</div>