@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">BIENVENIDO A GESTIÓN DE ESCENARIOS DEPORTIVOS</h1>
    <p>GESTIÓN DE TORNEOS </p>
    <marquee>TORNEOS</marquee> 
</div>
<section>
    <style>
        .background-image: (C:\Users\usuario\Pictures\Juan José\Fondos de PC\olasdemar.jpg/>>)
    </style>
</section>
